@page "/scenario/selection"
@using HiddenLove.Shared.Models.ScenarioSelection
@inject HttpWrapper Http
@inject JsHelper Js
@inject NavigationManager NavManager

<h1>Selectionnez un scénario !</h1>

@if(IsPageLoaded)
{
    <div class="row">
        @foreach(ScenarioSelectionData scenario in Scenarios)
        {
            <div class="col-md-3 col-sm-6 padding-bottom">
                @scenario.Title
            </div>
        }
    </div>
}
else
{
    <p>Chargement...</p>
}

<div class="row">
    <Datebox @bind-BindingValue="EventDate" />
    <Button OnClick="LogDate" Text="EE" />
</div>

@code {
    public bool IsPageLoaded { get; set; } = false;

    private List<ScenarioSelectionData> Scenarios = new List<ScenarioSelectionData>();

    private DateTime? EventDate { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        Scenarios = await Http.GetResultAsync<List<ScenarioSelectionData>>("ScenarioSelection/AvailableScenarios");
        IsPageLoaded = true;
    }

    private void LogDate()
    {
        Js.Log(EventDate);
    }


}

