<button class="btn btn-@Type" @onclick="OnClickCallback" disabled="@Disabled" >@Text</button>

@code {
    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public string Type { get; set; } = "primary";

    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public EventCallback OnClick { get; set; }

    private void OnClickCallback() => OnClick.InvokeAsync();
}