@page "/"

    <div class="acc-clean">
            <div class="acc-nav">
                <div class="acc-inscrire">S'inscrire</div>
                <div class="acc-apropos">A propos</div>
                <div class="acc-abonnement">Abonnement</div>
                <div class="acc-contact">Nous Contactez</div> 

                <div class="acc-button-connexion"> Se connecter </div>
            </div>
            
        
        <div>
            <div class="acc-bg-image"></div>
            <div class="acc-slogan">
                    <div class="acc-haut-slogan">Mieux vaut un mensonge anecdotique</div>
                    <div class="acc-bas-slogan">qu'une vérité DRAMATIQUE</div>
            </div>
            
           
            <div class="acc-descriptif-1">
                <p>Bienvenue sur Hidden Love, le site #1 des alibis extra-conjugaux !<br>
                Que vous soyez à la recherche d'un lieu de planification de rendez-vous<br>
                ou tout simplement à la recherche d'excuses, vous êtes au bon endroit !<br>
                Anonymat et confidentialité sont garantis pour un maximum de discrétion !</p>
            </div>
            <div>
                <div class="acc-button-signin">Inscrivez-vous</div>
            </div>

            <div class="acc-title-desc-div">
                <div class="acc-tab-1">
                    <div class="acc-sous-tab-1">
                        <h1 class="acc-title">Passez du temps ensemble,<br>
                        en toute discrétion!</h1>
                        <div class="acc-descriptif">
                            <p>Hidden love vous propose différents alibis<br>
                                pour avoir des soirées réussies</p>
                        </div>
                    </div>
                    <div><img src="/img/kiss-mark.png" class="acc-img-1"></div>
                </div>

                <div class="acc-tab-2">
                    <div><img src="/img/people.jpg" class="acc-img-2"></div>
                    <div class="acc-sous-tab-2">
                         <h1 class="acc-title">Besoin d'une excuse fiable?</h1>
                        <div class="acc-descriptif">
                            <p>Plus la peine de chercher ! <br>
                                Des tas d'excuses n'attendent plus que vous!</p>
                        </div>
                    </div>
                </div>
                
                <div class="acc-tab-3">
                    <div class="acc-sous-tab-3">
                         <h1 class="acc-title">personnalisez des scénarios à l'infini!</h1>
                        <div class="acc-descriptif">
                            <p> Un système pour personnaliser vos scénarios est possible!<br>
                                Ne plus avoir d'excuses, n'est plus une excuse!
                            </p>
                        </div>
                    </div>
                    <div><img src="/img/filmmaker.png" class="acc-img-3"></div>
                </div>
                
                <div class="acc-tab-4">
                    <div><img src="/img/ecommerce.png" class="acc-img-4"></div>
                    <div class="acc-sous-tab-4">
                         <h1 class="acc-title">Différentes formules pour différents besoins</h1>
                        <div class="acc-descriptif">
                            <p>nos différentes formules s'adaptent à vos besoins!</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
<footer>
    <div class="acc-footer">
        <div class="acc-twitter">Twitter</div>
        <div class="acc-facebook">Facebook</div>
        <div class="acc-apropos">A propos</div>
        <div class="acc-contact">Nous Contactez</div>
        <div class="acc-cgu">Conditions Générales d'Utilisation</div>
        <div class="acc-politiques-vie-privee">Politique de vie privée</div>
    </div>
</footer>

