@page "/"

<div class="welcome-clean">

    <div class="row welcome-nav">
        <div class="col-sm navbtn welcome-inscrire">S'inscrire</div>
        <div class="col-sm navbtn welcome-apropos">A propos</div>
        <div class="col-sm navbtn welcome-abonnement">Abonnement</div>
        <div class="col-sm navbtn welcome-contact">Nous Contactez</div>

        <div class="col-sm navbtn welcome-login-btn">
            <a href="/login">
                <button class="btn btn-primary">
                    <i class="fa"></i> Se connecter
                </button>
            </a>

        </div>
    </div>
 

    <div class="col-sm-12">
        <div class="img-responsive welcome-bg-image"></div>
        <div class="welcome-slogan">
            <div class="welcome-haut-slogan">Mieux vaut un mensonge anecdotique</div>
            <div class="welcome-bas-slogan">qu'une vérité DRAMATIQUE</div>
        </div>
    </div>

    <div class="row welcome-message">
        <p class="col-sm d-flex justify-content-around">Bienvenue sur Hidden Love, le site #1 des alibis extra-conjugaux !
            Que vous soyez à la recherche d'un lieu de planification de rendez-vous
            ou tout simplement à la recherche d'excuses, vous êtes au bon endroit !
            Anonymat et confidentialité sont garantis pour un maximum de discrétion !</p>
    </div>

    <div class="row">
        <div class=" d-flex justify-content-center col-sm welcome-signin-btn">
            <a href="/register">
                <button class="btn btn-primary ">
                    <i class="fa"></i> Inscrivez-vous
                </button>
            </a>
        </div>
    </div>

        <div class="row welcome-tab">
            <div class="col-sm align-self-center welcome-sous-tab-1">
                <h1 class="d-flex justify-content-around welcome-title">Passez du temps ensemble,<br>
                    en toute discrétion!</h1>
                <div class="d-flex justify-content-around welcome-descriptif">
                    <p>Hidden love vous propose différents alibis<br>
                        pour avoir des soirées réussies</p>
                </div>
            </div>
            <div class="col-sm d-flex justify-content-around"><img src="/img/kiss-mark.png" class="welcome-img"></div>
        </div>  

        <div class="row welcome-tab">
            <div class="col-sm d-flex justify-content-around "><img src="/img/people.jpg" class="welcome-img"></div>
            <div class=" col-sm align-self-center welcome-sous-tab-2">
                <h1 class="d-flex justify-content-around welcome-title">Besoin d'une excuse fiable?</h1>
                <div class="d-flex justify-content-around welcome-descriptif">
                    <p>Plus la peine de chercher ! <br>
                        Des tas d'excuses n'attendent plus que vous!</p>
                </div>
            </div>
        </div>
    
        <div class="row welcome-tab">
            <div class="col-sm align-self-center welcome-sous-tab-3">
                <h1 class="d-flex justify-content-around welcome-title">personnalisez des scénarios<br> à l'infini!</h1>
                <div class="d-flex justify-content-around welcome-descriptif">
                    <p> Un système pour personnaliser vos scénarios est possible!<br>
                        Ne plus avoir d'excuses, n'est plus une excuse!
                    </p>
                </div>
            </div>
            <div class="col-sm d-flex justify-content-around"><img src="/img/filmmaker.png" class="welcome-img"></div>
        </div>


       <div class="row welcome-tab">
            <div class="col-sm d-flex justify-content-around"><img src="/img/ecommerce.png" class="welcome-img"></div>
            <div class="col-sm align-self-center welcome-sous-tab-4">
                <h1 class="d-flex justify-content-around welcome-title">Différentes formules pour différents besoins</h1>
                <div class="d-flex justify-content-around welcome-descriptif">
                    <p>nos différentes formules s'adaptent à vos besoins!</p>
                </div>
            </div>
        </div>

</div>

<footer>
    <div class="row welcome-footer">
        <div class="col-sm footer-btn welcome-twitter">Twitter</div>
        <div class="col-sm footer-btn welcome-facebook">Facebook</div>
        <div class="col-sm footer-btn welcome-apropos">A propos</div>
        <div class="col-sm footer-btn welcome-contact">Nous Contactez</div>
        <div class="col-sm footer-btn welcome-cgu">Conditions Générales d'Utilisation</div>
        <div class="col-sm footer-btn welcome-politiques-vie-privee">Politique de vie privée</div>
    </div>
</footer>
