@page "/about/pp"

<div class="tos-pp-clean">
    <div class="tos-pp-form">
        <div class="tos-pp-image">
            <img src="img/logo.png" class="tos-pp-illustration" />
        </div>

        <h2>Politique de vie privée</h2>

        <h4>Définitions</h4>

        <p><b>L'Éditeur :</b> concerne la personne, physique ou morale, qui édite les services de communication au
            public en ligne.<br>
        </p>

        <p><b>Le Site :</b> regroupe l'ensemble des sites, pages Internet et services en ligne, proposés et supervisés
            par l'Éditeur.<br>
        </p>

        <p><b>L'Utilisateur :</b> concerne la personne utilisant le Site <a
                href="https://hiddenlove.com">Hiddenlove.com</a> et les services associés.<br>
        </p>

        <h4>1. Nature des données collectées</h4>

        <p>Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories de données
            suivantes concernant ses Utilisateurs :
        </p>

        <ul>

            <li>Données relatives à la vie personnelle (habitudes de vie, situation familiale, hors données sensibles ou
                dangereuses).
            </li>

            <li>Données relatives à la vie professionnelle (CV, scolarité, formation professionnelle, distinctions...).
            </li>

            <li>Données de connexion (adresses IP, journaux d'événements...).
            </li>

            <li>Données de localisation (déplacements, données GPS, GSM...).
            </li>

        </ul>

        <h4>2. Communication des données personnelles à des tiers</h4>

        <strong>Entreprises partenaires</strong>
        <p>Vos données ne font l'objet d'aucune communication à des entreprises partenaires.<br></p>
        <strong>Organisme d’État</strong>
        <p>Dans le cadre de la loi, vous êtes toutefois informés qu'elles pourront être divulguées en application d'un
            règlement ou en vertu d'une décision d'une autorité réglementaire ou judiciaire compétente.</p>
        <strong>Fusion/acquisition de l'entreprise</strong>
        <p>Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre forme de
            cession d’actifs, nous nous engageons à obtenir votre consentement préalable à la transmission de vos
            données personnelles et à maintenir le niveau de confidentialité de vos données personnelles auquel vous
            avez consenti.</p>

        <h4>3. Agrégation des données</h4>

    </div>
</div>