@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f1f7fc;
}

a,
.btn-link {
    color: #007bff;
}

.image {
    text-align: center;
    padding-bottom: 20px;

    .illustration {
        width: 100%;
        height: auto;
        max-width: 250px;
    }
}

.container {
    .row {
        .col-12 {
            .btn-primary {
                background: #f4476b;
                outline: none !important;
                border: 1px solid #f4476b;
                box-shadow: none;
                border-radius: 20px;
                padding: 10px;
                font-weight: bold;
                margin: auto;
            }
            .btn-primary:hover,
            .btn-primary:active {
                background: #dd2950;
            }
        }
    }
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type="checkbox"]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.full-width {
    width: 100%;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.main {
    .card {
        .card-body {
            padding: 10px;
        }
    }

    .card-scenario {
        margin: auto;
        width: 100%;
        max-width: 200px;
    }
}

/* Utilisation du form-control par les pages login et register */
.form-control {
    background: #f7f9fc;
    outline: none !important;
    border: 1px solid #f4476b;
    box-shadow: none;
    border-radius: 20px;
    margin-top: 20px;
    color: inherit;
    text-indent: 8px;
    height: 42px;
}

/* logo présent dans login et register */
.illustration {
    width: 100%;
    height: auto;
}
/* mise en forme des liens entre login et register */
.registerlogin-link {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/* Mise en forme des éléments de la page login */
.login-clean {
    background: #f1f7fc;
    display: flex;
    min-height: 100vh;

    .login-form {
        max-width: 500px;
        width: 100%;
        margin: auto;
        background-color: #ffffff;
        padding: 40px;
        padding-bottom: 10px;
        border-radius: 4px;
        color: #505e6c;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

        .btn-primary {
            background: #f4476b;
            outline: none !important;
            border: 1px solid #f4476b;
            box-shadow: none;
            border-radius: 20px;
            padding: 10px;
            font-weight: bold;
        }

        .btn-primary:hover,
        .btn-primary:active {
            background: #dd2950;
        }

        .btn-primary:active {
            transform: translateY(1px);
        }

        .field-warning {
            font-size: 12px;
            text-align: left;
            font-style: italic;
            color: rgb(199, 0, 0);
        }

        .forgot {
            display: block;
            text-align: center;
            font-size: 12px;
            color: #6f7a85;
            opacity: 0.9;
            text-decoration: none;
        }

        .forgot:hover,
        .forgot:active {
            opacity: 1;
            text-decoration: none;
        }
    }
}

/* Mise en page des éléments de la page register */
.register-clean {
    background: #f1f7fc;
    display: flex;
    min-height: 100vh;

    .register-form {
        max-width: 500px;
        width: 100%;
        margin: auto;
        background-color: #ffffff;
        padding: 40px;
        padding-bottom: 25px;
        border-radius: 4px;
        color: #505e6c;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

        .password-warning {
            font-size: 12px;
            font-style: italic;
            color: rgb(199, 0, 0);
        }

        p {
            margin-top: 10px;
        }

        /* Flexbox afin d'aligner nos éléments */
        .read-me {
            display: flex;
            align-items: flex-end;

            .icon {
                margin-left: 3px;
            }

            .terms {
                font-size: 14.5px;
            }
        }

        .btn-primary:hover,
        .btn-primary:active {
            background: #dd2950;
        }

        .btn-primary:active {
            transform: translateY(1px);
        }

        .forgot {
            display: block;
            text-align: center;
            font-size: 12px;
            color: #6f7a85;
            opacity: 0.9;
            text-decoration: none;
        }

        .forgot:hover,
        .forgot:active {
            opacity: 1;
            text-decoration: none;
        }
    }
}

/* Mise en forme des éléments des pages PP et TOS */
.tos-pp-clean {
    background: #f1f7fc;
    display: flex;
    min-height: 100vh;
    margin-top: 60px;

    .tos-pp-form {
        max-width: 800px;
        width: 100%;
        margin: auto;
        background-color: #ffffff;
        padding: 40px;
        border-radius: 4px;
        color: #505e6c;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        text-align: justify;

        /* gestion du logo */
        .tos-pp-image {
            text-align: center;
            padding-bottom: 20px;

            .tos-pp-illustration {
                width: 100%;
                height: auto;
                max-width: 250px;
            }
        }

        h2 {
            text-align: center;
            padding-bottom: 10px;
        }

        h4 {
            text-align: left;
            padding-bottom: 5px;
        }

        h5 {
            text-align: left;
            padding-bottom: 5px;
            font-style: italic;
        }
    }
}

/* Mise en forme des éléments de la page login */
.creation-clean {
    background: #f1f7fc;
    display: flex;
    padding-bottom: 20px;

    .creation-form {
        max-width: 1600px;
        width: 100%;
        margin: auto;
        background-color: #ffffff;
        padding: 40px;
        padding-bottom: 20px;
        border-radius: 4px;
        color: #505e6c;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        text-align: justify;

        .btn-validation {
            text-align: center;
            /*padding-top: 10px;*/

            .btn-primary {
                background: #f4476b;
                outline: none !important;
                border: 1px solid #f4476b;
                box-shadow: none;
                border-radius: 20px;
                font-weight: bold;
                margin: auto;
                font-size: 18px;
            }

            .btn-primary:hover,
            .btn-primary:active {
                background: #dd2950;
            }

            .btn-primary:active {
                transform: translateY(1px);
            }
        }

        .fade {
            .modal-dialog {
                .modal-content {
                    .modal-header {
                        margin: auto;
                        place-items: center;
                        display: flex;

                        .btn-secondary {
                            background: #f4476b;
                            outline: none !important;
                            border: 1px solid #f4476b;
                            box-shadow: none;
                            border-radius: 20px;
                            font-weight: bold;
                            margin: auto;
                            margin-left: 15px;
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                        .btn-secondary:hover,
                        .btn-secondary:active {
                            background: #dd2950;
                        }

                        .btn-secondary:active {
                            transform: translateY(1px);
                        }
                    }
                }

                .modal-footer {
                    .btn-secondary {
                        background: #f4476b;
                        outline: none !important;
                        border: 1px solid #f4476b;
                        box-shadow: none;
                        border-radius: 20px;
                        font-weight: bold;
                        margin: auto;
                        padding-left: 40px;
                        padding-right: 40px;
                    }

                    .btn-secondary:hover,
                    .btn-secondary:active {
                        background: #dd2950;
                    }

                    .btn-secondary:active {
                        transform: translateY(1px);
                    }
                }
            }
        }

        h2 {
            text-align: center;
            padding-bottom: 10px;
        }

        .change-creation {
            align-items: baseline;
            margin: auto;
            place-items: center;
            display: flex;
            font-size: 20px;
            cursor: pointer;
            padding-bottom: 10px;
        }

        span {
            margin-left: 10px;
        }

        /* gestion du logo */
        .creation-image {
            text-align: center;
            padding-bottom: 20px;

            .creation-illustration {
                width: 100%;
                height: auto;
                max-width: 250px;
            }
        }

        .error {
            font-size: 18px;
            font-style: italic;
            color: rgb(199, 0, 0);
            padding-top: 5px;
        }
    }
}

.choose-clean {
    background: #f1f7fc;
    display: flex;
    padding-bottom: 20px;

    .choose-form {
        max-width: 1600px;
        width: 100%;
        margin: auto;
        background-color: #ffffff;
        padding: 40px;
        padding-bottom: 20px;
        border-radius: 4px;
        color: #505e6c;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        text-align: justify;

        h2 {
            text-align: center;
            padding-bottom: 10px;
        }

        /* gestion du logo */
        .choose-image {
            text-align: center;
            padding-bottom: 20px;

            .choose-illustration {
                width: 100%;
                height: auto;
                max-width: 250px;
            }
        }

        .btn-validation {
            text-align: center;
            padding-bottom: 10px;

            .btn-primary {
                background: #f4476b;
                outline: none !important;
                border: 1px solid #f4476b;
                box-shadow: none;
                border-radius: 20px;
                font-weight: bold;
                margin: auto;
                font-size: 18px;
            }

            .btn-primary:hover,
            .btn-primary:active {
                background: #dd2950;
            }

            .btn-primary:active {
                transform: translateY(1px);
            }
        }

        .choose-date {
            align-items: baseline;
            flex-wrap: wrap;
            margin: auto;
            place-items: center;
            display: flex;
            font-size: 20px;
            align-items: baseline;

            span {
                margin-right: 6px;
            }

            strong {
                font-size: 18px;
                font-style: italic;
                color: rgb(199, 0, 0);
                margin-left: 6px;
            }
        }

        .fade {
            .modal-dialog {
                .modal-content {
                    .modal-footer {
                        .btn-secondary {
                            background: #f4476b;
                            outline: none !important;
                            border: 1px solid #f4476b;
                            box-shadow: none;
                            border-radius: 20px;
                            font-weight: bold;
                            margin: auto;
                            padding-left: 85px;
                            padding-right: 85px;
                        }

                        .btn-secondary:active {
                            transform: translateY(1px);
                        }
                    }
                }
            }
        }

        span {
            font-size: 20px;
        }

        .choose-list {
            font-size: 18px;
            margin-right: 5%;
        }

        .choose-group {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        .card-organisation {
            justify-content: space-around;
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;

            .card {
                width: 18rem;
                margin-top: 15px;
                cursor: pointer;

                .card-title {
                    text-align: center;
                    font-weight: bold;
                }

                .card-description {
                    text-align: justify;
                    font-style: italic;
                }
            }
            .card:hover,
            .selected-card {
                background-color: #e1ecf7;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.home-clean {
    background: #f1f7fc;
    display: flex;
    padding-bottom: 20px;

    .home-form {
        max-width: 1600px;
        width: 100%;
        margin: auto;
        background-color: #ffffff;
        padding: 40px;
        padding-bottom: 20px;
        border-radius: 4px;
        color: #505e6c;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        text-align: justify;

        .row {
            .btn-validation {
                text-align: left;
                padding-bottom: 10px;
                margin-left: 15px;

                .btn-primary {
                    background: #f4476b;
                    outline: none !important;
                    border: 1px solid #f4476b;
                    box-shadow: none;
                    border-radius: 20px;
                    font-weight: bold;
                    margin: auto;
                    font-size: 18px;
                }

                .btn-primary:hover,
                .btn-primary:active {
                    background: #dd2950;
                }

                .btn-primary:active {
                    transform: translateY(1px);
                }
            }
        }

        .home-image {
            text-align: center;
            padding-bottom: 20px;

            .home-illustration {
                width: 100%;
                height: auto;
                max-width: 250px;
            }
        }

        h2 {
            padding-top: 10px;
        }

        .row {
            .col-12 {
                .table {
                    .bg-light {
                        font-weight: bold;

                        td {
                            color: #ff0081;
                        }

                        a {
                            color: #ff0081;
                        }
                    }

                    tr {
                        td {
                            color: #000000;
                        }

                        a {
                            color: #000000;
                        }
                    }

                    .text-secondary {
                        td {
                            color: #c7cbce;
                        }

                        a {
                            color: #c7cbce;
                        }
                    }
                }
            }
        }
    }
}

.view-clean {
    background: #f1f7fc;
    display: flex;
    padding-bottom: 20px;

    .view-form {
        max-width: 1600px;
        width: 100%;
        margin: auto;
        background-color: #ffffff;
        padding: 40px;
        padding-bottom: 20px;
        border-radius: 4px;
        color: #505e6c;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        text-align: justify;
    }

    .row {
        .col-12 {
            text-align: center;

            .btn-primary {
                background: #f4476b;
                outline: none !important;
                border: 1px solid #f4476b;
                box-shadow: none;
                border-radius: 20px;
                font-weight: bold;
                margin: auto;
                font-size: 18px;
            }

            .btn-primary:hover,
            .btn-primary:active {
                background: #dd2950;
            }

            .btn-primary:active {
                transform: translateY(1px);
            }
        }
    }
    .fade {
        .modal-dialog {
            .modal-content {
                .modal-footer {
                    .btn-secondary {
                        background: #f4476b;
                        outline: none !important;
                        border: 1px solid #f4476b;
                        box-shadow: none;
                        border-radius: 20px;
                        font-weight: bold;
                        margin: auto;
                        padding-left: 85px;
                        padding-right: 85px;
                    }
                    .btn-secondary:hover,
                    .btn-secondary:active {
                        background: #dd2950;
                    }

                    .btn-secondary:active {
                        transform: translateY(1px);
                    }
                }
            }
        }
    }

    .view-date {
        h3 {
            text-align: center;
            font-style: italic;
            padding-bottom: 15px;
        }
    }

    .view-titles {
        h1 {
            text-align: center;
        }
    }

    .view-step {
        text-align: left;
        padding-bottom: 15px;
    }

    .view-description {
        text-align: justify;
        padding-bottom: 5px;
    }
}

.btn-primary {
    background: #f4476b;
    outline: none !important;
    border: 1px solid #f4476b;
    box-shadow: none;
    padding: 10px;
    font-weight: bold;

    &:hover, &:active  {
        background: #dd2950;
    }
}

.container {
    
    h2 {
        text-align: center;
        padding-bottom: 10px;
    }
    .row {

        .col-12 {

            .btn-primary {
                padding-left: 12%;
                padding-right: 12%;  
            }

            padding: 15px;
        } 
    } 
} 