@charset "UTF-8";
@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f1f7fc;
}

a,
.btn-link {
  color: #007bff;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.content {
  padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.full-width {
  width: 100%;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.main .card .card-body {
  padding: 10px;
}
.main .card-scenario {
  margin: auto;
  width: 100%;
  max-width: 200px;
}

/* Utilisation du form-control par les pages login et register */
.form-control {
  background: #f7f9fc;
  outline: none !important;
  border: 1px solid #f4476b;
  box-shadow: none;
  border-radius: 20px;
  margin-top: 20px;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

/* logo présent dans login et register */
.illustration {
  width: 100%;
  height: auto;
}

/* mise en forme des liens entre login et register */
.registerlogin-link {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

/* Mise en forme des éléments de la page login */
.login-clean {
  background: #f1f7fc;
  display: flex;
  min-height: 100vh;
}
.login-clean .login-form {
  max-width: 500px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  padding: 40px;
  padding-bottom: 10px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.login-clean .login-form .btn-primary {
  background: #f4476b;
  outline: none !important;
  border: 1px solid #f4476b;
  box-shadow: none;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
}
.login-clean .login-form .btn-primary:hover,
.login-clean .login-form .btn-primary:active {
  background: #dd2950;
}
.login-clean .login-form .btn-primary:active {
  transform: translateY(1px);
}
.login-clean .login-form .field-warning {
  font-size: 12px;
  text-align: left;
  font-style: italic;
  color: #c70000;
}
.login-clean .login-form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
.login-clean .login-form .forgot:hover,
.login-clean .login-form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

/* Mise en page des éléments de la page register */
.register-clean {
  background: #f1f7fc;
  display: flex;
  min-height: 100vh;
}
.register-clean .register-form {
  max-width: 500px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  padding: 40px;
  padding-bottom: 25px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  /* Flexbox afin d'aligner nos éléments */
}
.register-clean .register-form .btn-primary {
  background: #f4476b;
  outline: none !important;
  border: 1px solid #f4476b;
  box-shadow: none;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
}
.register-clean .register-form .password-warning {
  font-size: 12px;
  font-style: italic;
  color: #c70000;
}
.register-clean .register-form p {
  margin-top: 10px;
}
.register-clean .register-form .read-me {
  display: flex;
  align-items: flex-end;
}
.register-clean .register-form .read-me .icon {
  margin-left: 3px;
}
.register-clean .register-form .read-me .terms {
  font-size: 14.5px;
}
.register-clean .register-form .btn-primary:hover,
.register-clean .register-form .btn-primary:active {
  background: #dd2950;
}
.register-clean .register-form .btn-primary:active {
  transform: translateY(1px);
}
.register-clean .register-form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
.register-clean .register-form .forgot:hover,
.register-clean .register-form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

/* Mise en forme des éléments des pages PP et TOS */
.tos-pp-clean {
  background: #f1f7fc;
  display: flex;
  min-height: 100vh;
  margin-top: 60px;
}
.tos-pp-clean .tos-pp-form {
  max-width: 800px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  text-align: justify;
  /* gestion du logo */
}
.tos-pp-clean .tos-pp-form .tos-pp-image {
  text-align: center;
  padding-bottom: 20px;
}
.tos-pp-clean .tos-pp-form .tos-pp-image .tos-pp-illustration {
  width: 100%;
  height: auto;
  max-width: 250px;
}
.tos-pp-clean .tos-pp-form h2 {
  text-align: center;
  padding-bottom: 10px;
}
.tos-pp-clean .tos-pp-form h4 {
  text-align: left;
  padding-bottom: 5px;
}
.tos-pp-clean .tos-pp-form h5 {
  text-align: left;
  padding-bottom: 5px;
  font-style: italic;
}

/* Mise en forme des éléments de la page login */
.creation-clean {
  background: #f1f7fc;
  display: flex;
}
.creation-clean .creation-form {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  padding: 40px;
  padding-bottom: 0px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  text-align: justify;
  /* gestion du logo */
}
.creation-clean .creation-form .btn-validation {
  text-align: center;
  padding-top: 10px;
}
.creation-clean .creation-form .btn-validation .btn-primary {
  background: #f4476b;
  outline: none !important;
  border: 1px solid #f4476b;
  box-shadow: none;
  border-radius: 20px;
  font-weight: bold;
  margin: auto;
  font-size: 18px;
}
.creation-clean .creation-form .btn-validation .btn-primary:hover,
.creation-clean .creation-form .btn-validation .btn-primary:active {
  background: #dd2950;
}
.creation-clean .creation-form .btn-validation .btn-primary:active {
  transform: translateY(1px);
}
.creation-clean .creation-form h2 {
  text-align: center;
  padding-bottom: 10px;
}
.creation-clean .creation-form .change-creation {
  align-items: baseline;
  margin: auto;
  place-items: center;
  display: flex;
  font-size: 20px;
}
.creation-clean .creation-form span {
  margin-left: 10px;
}
.creation-clean .creation-form .creation-image {
  text-align: center;
  padding-bottom: 20px;
}
.creation-clean .creation-form .creation-image .creation-illustration {
  width: 100%;
  height: auto;
  max-width: 250px;
}
.creation-clean .creation-form .error {
  font-size: 18px;
  font-style: italic;
  color: #c70000;
  padding-top: 5px;
}

.choose-clean {
  background: #f1f7fc;
  display: flex;
}
.choose-clean .choose-form {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  padding: 40px;
  padding-bottom: 0px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  text-align: justify;
  /* gestion du logo */
}
.choose-clean .choose-form h2 {
  text-align: center;
  padding-bottom: 10px;
}
.choose-clean .choose-form .choose-image {
  text-align: center;
  padding-bottom: 20px;
}
.choose-clean .choose-form .choose-image .choose-illustration {
  width: 100%;
  height: auto;
  max-width: 250px;
}
.choose-clean .choose-form .btn-validation {
  text-align: center;
  padding-top: 10px;
}
.choose-clean .choose-form .btn-validation .btn-primary {
  background: #f4476b;
  outline: none !important;
  border: 1px solid #f4476b;
  box-shadow: none;
  border-radius: 20px;
  font-weight: bold;
  margin: auto;
  font-size: 18px;
}
.choose-clean .choose-form .btn-validation .btn-primary:hover,
.choose-clean .choose-form .btn-validation .btn-primary:active {
  background: #dd2950;
}
.choose-clean .choose-form .btn-validation .btn-primary:active {
  transform: translateY(1px);
}
.choose-clean .choose-form .error {
  font-size: 18px;
  font-style: italic;
  color: #c70000;
  padding-top: 5px;
}
.choose-clean .choose-form .choose-date {
  align-items: baseline;
  flex-wrap: wrap;
  margin: auto;
  place-items: center;
  display: flex;
  font-size: 20px;
  align-items: baseline;
}
.choose-clean .choose-form .choose-date span {
  margin-right: 6px;
}
.choose-clean .choose-form .choose-list {
  font-size: 18px;
  margin-right: 5%;
}
.choose-clean .choose-form .choose-group {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/*# sourceMappingURL=app.css.map */
