@page "/test"
@inject HttpClient Http

<div class="row">
    <button class="btn btn-primary full-width" @onclick="GetAllUsers">Get all users</button>
</div>
<div class="row">
    <p>@CurrentUser.FullUserName</p>
</div>

@code {
    private User CurrentUser;

    protected override void OnInitialized()
    {
        CurrentUser = new User();
    }
    
    private async void GetAllUsers()
    {
        CurrentUser = await Http.GetFromJsonAsync<User>("Users/currentuser");
        StateHasChanged();
    }
}
