@page "/test"
@inject HttpWrapper Http
@inject JsHelper Js
@inject NavigationManager NavManager
@layout NavbarLayout

<div class="row">
    <div class="col-6">
        <button class="btn btn-primary full-width" @onclick="GetUser">Get User</button>
    </div>
    <div class="col-6">
        <button class="btn btn-primary full-width" @onclick="GetUsername">Get Username</button>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Http.Authenticate(Js, NavManager);
        var res = await Http.GetResultAsync<object>("ScenarioSelection/CurrentUser");
        Js.Log(res);
    }
    
    private async void GetUser()
    {
        var res = await Http.GetResultAsync<object>("ScenarioSelection/CurrentUser");
        Js.Log(res);
    }

    private async void GetUsername()
    {
        var res = await Http.GetResultAsync<string>("ScenarioSelection/CurrentUsername");
        Js.Log(res);
    }
}
