@page "/test"
@inject HttpWrapper Http
@inject JsHelper Js

<div class="row">
    <button class="btn btn-primary full-width" @onclick="GetAllUsers">Get all users</button>
</div>
<div class="row">
    <p>@CurrentUser</p>
</div>

@code {
    private string CurrentUser = "";

    protected async override void OnInitialized()
    {
        string res = await Js.ReadCookie(GlobalVariables.TokenCookieName);
        Http.AddJwtAuthentication(res);
    }
    
    private async void GetAllUsers()
    {
        CurrentUser = await Http.GetResultAsync<string>("Users/currentuser");
        StateHasChanged();
    }
}
