@page "/test"
@inject HttpWrapper Http
@inject JsHelper Js
@inject NavigationManager NavManager

<div class="row">
    <button class="btn btn-primary full-width" @onclick="GetAllUsers">Get all users</button>
</div>
<div class="row">
    <p>@CurrentUser</p>
</div>

@code {
    private string CurrentUser = "";

    protected override void OnInitialized()
    {
        Http.Authenticate(Js, NavManager);
    }
    
    private async void GetAllUsers()
    {
        CurrentUser = await Http.GetResultAsync<string>("Users/currentuser");
        StateHasChanged();
    }
}
