@page "/not-found"

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>404 - Not Found</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Alors, on s'est perdu ? <a href="/home">Clique ici pour revenir à la page d'accueil.</a>
            </p>
        </div>
    </div>
</div>