@page "/login"
@inject HttpHelper Http
@inject CookieHelper Cookie
@inject NavigationManager NavManager

<h1>Login</h1>

<div class="row">
    <div class="col-3">
        <input class="form-control" type="text" id="emailAddressInput" placeholder="Email Address" @bind="EmailAddressBinding" />
    </div>
    <div class="col-3">
        <input class="form-control" type="text" id="passwordInput" placeholder="Password" @bind="PasswordBinding" />
    </div>
    <div class="col-3">
        <input class="form-control" type="checkbox" @bind="StayConnectedBinding" />
    </div>
    <div class="col-3">
        <button class="btn btn-primary full-width" @onclick="LogUser">Submit</button>
    </div>
</div>

@code {
    private AuthenticationResponse LoginToken;

    private string EmailAddressBinding;
    private string PasswordBinding;
    private bool StayConnectedBinding;

    private string CookieTokenValue;

    protected override void OnInitialized()
    {
        EmailAddressBinding = "";
        PasswordBinding = "";
        StayConnectedBinding = false;
    }

    private async void LogUser()
    {
        var request = new AuthenticationRequest 
        { 
            EmailAddress = EmailAddressBinding,
            Password = PasswordBinding
        };

        LoginToken = await Http.PostAsync<AuthenticationRequest, AuthenticationResponse>("Users/authenticate", request);

        Http.AddAuthorizationHeader(LoginToken.Token);
        
        if(StayConnectedBinding)
        {
            Cookie.WriteCookie("token", LoginToken.Token, 60 * 60 * 24 * 7);
        }

        NavManager.NavigateTo("/");
    }
}