@page "/register"
@inject HttpWrapper Http
@inject JsHelper Js
@inject NavigationManager NavManager

<h1>Register</h1>

<div class="row">
    <div class="col-4">
        <Textbox Placeholder="Email Address" @bind-BindingValue="EmailAddress" />
    </div>
    <div class="col-4">
        <Textbox Label="coucou" Placeholder="Password" IsPassword @bind-BindingValue="Password" />
    </div>
    <div class="col-4">
        <Textbox Placeholder="Password" IsPassword @bind-BindingValue="ConfirmedPassword" />
    </div>
</div>
<div class="row">
    <div class="col-4">
        <Textbox Placeholder="Username" @bind-BindingValue="Username" />
    </div>
    <div class="col-2">
        <Checkbox Label="J'ai lu et j'accepte les conditions générales d'utilisation." @bind-BindingValue="TermsOfServiceAccepted" />
    </div>
    <div class="col-2">
        <Checkbox Label="J'ai lu et j'accepte la politique de vie privée." @bind-BindingValue="PrivacyPoliciesAccepted" />
    </div>
    <div class="col-2">
        <button class="btn btn-primary full-width" @onclick="RegisterUser">Submit</button>
    </div>
</div>
<div class="row">
    <p>@Message</p>
</div>

@code {
    private string EmailAddress { get; set; } = "";
    private string Password { get; set; } = "";
    private string ConfirmedPassword { get; set; } = "";
    private string Username { get; set; } = "";
    private bool TermsOfServiceAccepted { get; set; } = false;
    private bool PrivacyPoliciesAccepted { get; set; } = false;

    private string Message { get; set; } = "";

    private async void RegisterUser()
    {
        if(!TermsOfServiceAccepted || !PrivacyPoliciesAccepted)
        {
            Message = "You must accept the terms of services and the privacy policy to register.";
            return;
        }

        if(Password != ConfirmedPassword)
        {
            Message = "Password and confirmation are not identical;";
            return;
        }

        var registerRequest = new RegisterRequest
        {
            EmailAddress = EmailAddress,
            UserName = Username,
            Password = Password
        };

        var res = await Http.PostAsync<RegisterRequest>("Users/register", registerRequest);
        if(!res.IsSuccessStatusCode)
        {
            HttpError error = await res.Content.ReadAsAsync<HttpError>();
            Js.LogError(error);
            return;
        }
        AuthenticationResponse loginToken = await res.Content.ReadAsAsync<AuthenticationResponse>();

        Js.WriteCookie("token", loginToken.Token, 60 * 60);

        NavManager.NavigateTo("/test");
    }
}