@page "/home/subscription"
@layout NavbarLayout
@inject HttpWrapper Http
@inject NavigationManager NavManager

<div class="sub-clean">
    <div class="sub-cards">
        <div class="sub-card">
            <div class="sub-card-container">
                <div class="sub-card-name"><p>Abonnement simple</p></div>
                <div class="sub-card-desc">
                    <p>
                        <p><br></p>
                        Appels téléphoniques<br>
                        Achats discrets<br>
                        Scénario simple<br>
                        <br>
                    </p>
                </div>
                <div class="sub-card-price"><p><sup>€</sup>20 /mois</p></div>
                <div class="sub-card-renew"><p>Facturé chaque mois</p></div>
            </div>

            <footer>
                <Button Text="Choisir" Type="@ColorButton((int)CustomerTier.Basic)" OnClick="(() => ChangePrivilege((int)CustomerTier.Basic))" />
                <div class="sub-button"><a  class="sub-card-button">Buy</a></div>
            </footer>
        </div>

        <div class="sub-card">
            <div class="sub-card-container">
                <div class="sub-card-name"><p>Abonnement simple+</p></div>
                <div class="sub-card-desc">
                    <p>
                        <p style="font-style:bold;">Abonnement simple :</p><br>
                        + convocation personnalisée <br>
                        + invitation personalisé<br>
                        + Scénario plus élaboré<br>
                    </p>
                </div>
                <div class="sub-card-price"><p><sup>€</sup>30 /mois</p></div>
                <div class="sub-card-renew"><p>Facturé chaque mois</p></div>
            </div>

            <footer>
                <Button Text="Choisir" Type="@ColorButton((int)CustomerTier.Normal)" OnClick="(() => ChangePrivilege((int)CustomerTier.Normal))" />
                <div class="sub-button"><a  class="sub-card-button">Buy</a></div>
            </footer>
        </div>

        <div class="sub-card">
            <div class="sub-card-container">
                <div class="sub-card-name"><p>Abonnement + +</p></div>
                <div class="sub-card-desc">
                    <p>
                         <p style="font-style:bold;">Abonnement simple + :</p><br>
                        + pack concours <br>
                        + affichage de la carte<br>
                        + Scénario complet<br>
                    </p>
                </div>
                <div class="sub-card-price"><p><sup>€</sup>50 /mois</p></div>
                <div class="sub-card-renew"><p>Facturé chaque mois</p></div>
            </div>

            <footer>
                <Button Text="Choisir" Type="@ColorButton((int)CustomerTier.Pro)" OnClick="(() => ChangePrivilege((int)CustomerTier.Pro))" />
                <div class="sub-button"><a href="" class="sub-card-button">Buy</a></div>
            </footer>
        </div>
    </div>
</div>

@code {
    private ContentStatus PageStatus { get; set; } = ContentStatus.Loading;
    private int? Privilege { get; set; }

    protected override async Task OnInitializedAsync()
    {
        PageStatus = ContentStatus.Loading;

        await Http.Authenticate();
        dynamic res = await Http.GetResultAsync<object>("Users/GetCurrentUser");
        Privilege = res.id_Privilege;

        PageStatus = ContentStatus.Ok;
    }

    private string ColorButton(int? privilegeNeeded)
    {
        return Privilege == privilegeNeeded ? "success" : "primary";
    }

    private async void ChangePrivilege(int? newPrivilege)
    {
        await Http.Client.PutAsJsonAsync("Users/ChangePrivilege", newPrivilege);
        NavManager.NavigateTo("/home", true);
    }
    
}