@page "/home/subscription"
@layout NavbarLayout

<div class="sub-clean">
    <div class="sub-cards">
        <div class="sub-card">
            <div class="sub-card-container">
                <div class="sub-card-name"><p>Abonnement simple</p></div>
                <div class="sub-card-desc">
                    <p>
                        <p><br></p>
                        Appels téléphoniques<br>
                        Achats discrets<br>
                        Scénario simple<br>
                        <br>
                    </p>
                </div>
                <div class="sub-card-price"><p><sup>€</sup>20 /mois</p></div>
                <div class="sub-card-renew"><p>Facturé chaque mois</p></div>
            </div>

            <footer>
               @* TODO: a remplacer par un vrai bouton *@
                <div class="sub-button"><a  class="sub-card-button">Buy</a></div>
            </footer>
        </div>

        <div class="sub-card">
            <div class="sub-card-container">
                <div class="sub-card-name"><p>Abonnement simple+</p></div>
                <div class="sub-card-desc">
                    <p>
                        <p style="font-style:bold;">Abonnement simple :</p><br>
                        + convocation personnalisée <br>
                        + invitation personalisé<br>
                        + Scénario plus élaboré<br>
                    </p>
                </div>
                <div class="sub-card-price"><p><sup>€</sup>30 /mois</p></div>
                <div class="sub-card-renew"><p>Facturé chaque mois</p></div>
            </div>

            <footer>
               @* TODO: a remplacer par un vrai bouton *@
                <div class="sub-button"><a  class="sub-card-button">Buy</a></div>
            </footer>
        </div>

        <div class="sub-card">
            <div class="sub-card-container">
                <div class="sub-card-name"><p>Abonnement + +</p></div>
                <div class="sub-card-desc">
                    <p>
                         <p style="font-style:bold;">Abonnement simple + :</p><br>
                        + pack concours <br>
                        + affichage de la carte<br>
                        + Scénario complet<br>
                    </p>
                </div>
                <div class="sub-card-price"><p><sup>€</sup>50 /mois</p></div>
                <div class="sub-card-renew"><p>Facturé chaque mois</p></div>
            </div>

            <footer>
               @* TODO: a remplacer par un vrai bouton *@
                <div class="sub-button"><a href="" class="sub-card-button">Buy</a></div>
            </footer>
        </div>
    </div>
</div>